* {
    font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-weight: bolder;
  position: absolute;
  top: 5rem;
  left: 7rem;
}

h3 a {
  text-decoration: none;
  color: #fffff9;
}

h3 a:hover {
  color: #f9ffaa;
  text-decoration: none;
  font-weight: bolder;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

h3 a::after {
  text-decoration: none;
}

p {
    font-size: 1.7rem;
    color: #432c7a;
}

#photo_frame img {
    height: 100%;
    width: 100%;
}

#photo_frame {
    height: 240px;
    width: 320px;
    margin-top: 3rem;
    border: 7px solid #fffff9;
    border-radius: 3px 3px 0 0;
    background-image: url(https://goo.gl/E6auCt);
    background-position: center; 
    background-size: 100%;
}

#caption {
    height: 100px;
    width: 320px;
    background-color: #fffff9;
    border: 7px solid #fffff9;
    border-radius: 0 0 3px 3px;
}