<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>WatPi</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    {% load staticfiles %} 
    {% block css %} {% endblock %}
</head>
<body>
    {% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                <a class="navbar-brand" href="">WatPi</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href=""><span class="glyphicon glyphicon-user"></span> Username</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                    <li><a href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block main %}
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            <div class="col-sm-2">
                {% block left_sidebar %}
                {% endblock %}
            </div>
            <div class="col-sm-6">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-sm-3">
                 {% block right_sidebar %} 
                 {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <!-- <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"><\/script>')</script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block scripts %} {% endblock %} 
    {% endblock %}
</body>
</html>