* {
    /* outline: 1px solid gold; */
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

/* +++++++++++ robot design is from Aleks https://codepen.io/achudars/pen/sLIef?page=1& ++++++++++ */

body {
  background: #FF847C;
}

.center {
  text-align: center;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -150px;
  margin-top: -150px;
}
#half {
  text-align: center;
  width: 300px;
  height: 200px;
  background: #FF9A02;
  border: 10px solid #162736;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}
#brain {
  margin: 0 auto;
  margin-top: 20px;
  width: 160px;
  height: 60px;
  background: #FBB829;
  border: 20px solid #FA6900;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
#head {
  position: inherit;
  top: 140px;
  right: -10px;
  width: 320px;
  height: 100px;
  background: #162736;
}
#foot {
  position: inherit;
  top: 240px;
  left: 10px;
  width: 280px;
  /* height: 5vh; */
  background: #162736;
}
#le {
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;
  width: 33.33333333px;
  height: 33.33333333px;
  border: 10px solid #FA6900;
  border-radius: 50%;
  background: #FBB829;
}
#re {
  margin-left: 10px;
  display: inline-block;
  width: 33.33333333px;
  height: 33.33333333px;
  border: 10px solid #FA6900;
  border-radius: 50%;
  background: #FBB829;
}
#lc {
  /* margin-right: 10px; */
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background: #FF0066;
  box-shadow: 0 0 5px #ff0066;
  -webkit-box-shadow: 0 0 5px #ff0066;
  -moz-box-shadow: 0 0 5px #ff0066;
}
#rc {
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background: #FF0066;
  box-shadow: 0 0 5px #ff0066;
  -webkit-box-shadow: 0 0 5px #ff0066;
  -moz-box-shadow: 0 0 5px #ff0066;
}
#mouth {
  z-index: 9999;
  position: inherit;
  margin-top: 10px;
  margin-left: 150px;
  height: 10px;
  width: 20px;
  border-radius: 0 0 90px 90px;
  -moz-border-radius: 0 0 90px 90px;
  -webkit-border-radius: 0 0 90px 90px;
  border-right: 5px solid #FA6900;
  border-left: 5px solid #FA6900;
  border-bottom: 5px solid #FA6900;
}
#leg-1 {
  display: inline-block;
  position: relative;
  top: 0;
  left: -180px;
  width: 20vh;
  height: 20px;
  background: #162736;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#leg-2 {
  display: inline-block;
  position: relative;
  top: 0;
  left: 180px;
  width: 20vh;
  height: 20px;
  background: #162736;
  transform: rotate(-180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(-180deg);
  /* Safari and Chrome */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* ++++++++ form styling ++++++++ */

legend {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: inherit;
    color: #f7e7e6;
    border: 0;
    /* border: 1px solid #e5e5e5; */
}

fieldset {
    margin: 2rem auto;
}

input {
    border: none;
    border-radius: 4px;
    height: 4rem;
    width: 80%;
    color: #162736;
    font-size: 2rem;
    padding: 10px;
}

input[type=submit] {
    margin: 15px auto 25px auto;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background-color: #279c69;
    font-size: 2.6rem;
    font-weight: bolder;
}

input[type=submit]:hover {
    background-color: #02ff90;
    transform: scale(1.1, 1.1);
}

.control-group {
    margin-top: 0;
}

.help-inline {
    display: block;
}

.help-inline strong {
    color: #d86a6a;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height:30px;
    width:100%;
}

#powered_by_pi {
    display: block;
    height: 3rem;
    position: fixed;
    right: 2px;
    bottom: 2px;
}